@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bgImage {
    background: url('../../public//image/balloon-lg.jpg') no-repeat center center;
    height: 100vh
}

.ck-editor__editable_inline {
    min-height: 40vh;
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable,
.ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    background: #424242;
    color: #8f8f8f;
    overflow-y: scroll;
    height: 500px;
}

.cke_contents {
    border: solid 1px #696969;
    background-color: 696969;
}

.scroll-none::-webkit-scrollbar {
    display: none;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.loading img {
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}